$light: #F4F6F6;
$red-light: #FF9C91;
$red: #CD3F3E;
$dark: #1C2938;
$green: #8ECC69;
$dkgreen: #78B74F;

$tiny: 380px;
$wrap-break: 768px;

@mixin mobile {
    @media (max-width: $wrap-break) {
        @content;
    }
}

@mixin tiny {
    @media (max-width: $tiny) {
        @content;
    }
}

body {
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: $light;
    font-family: Arial, Helvetica, sans-serif;
}

@mixin horizontal-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@mixin vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.centered-horizontal {
    @include horizontal-center;
}

.centered-vertical {
    @include vertical-center;
}

/////////////////////////////////////////////////////////////
//////      Header
/////////////////////////////////////////////////////////////

.header-container {
    // @include horizontal-center;
    background-color: $dark;
    color: $light;
}

.header-item {
    margin: 1vh 2vw;
    font-size: 1rem;
    text-decoration: none;
    color: $red-light;
}

.header-item:hover {
    color: $red;
}

.pin-right {
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    top: 20px;
    right: 0;
}

.header-link {
    color: $light;
    font-size: 1rem;
    margin-right: 2vw;
}

/////////////////////////////////////////////////////////////
//////      Main
/////////////////////////////////////////////////////////////

.current-time {
    font-size: 1.5rem;
    color: $dark;
    margin: 1vh 0;
}

.time-label {
    font-size: 1.5rem;
    color: $dark;
    margin: 1vh 0;
}

.button-container {
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
}

#last-week {
    width: 100px;
    height: 60px;
    background-color: $dark;
    border: 3px solid $light;
    color: $light;
    font-size: 1rem;
}

#next-week {
    width: 100px;
    height: 60px;
    background-color: $dark;
    border: 3px solid $light;
    color: $light;
    font-size: 1rem;
}

/////////////////////////////////////////////////////////////
//////      EachWeek
/////////////////////////////////////////////////////////////

.runs-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.runs-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0 10%;
}

.run-border-complete{
    border: 3px $green solid;
    background-color: $dkgreen;
    color: $light;
    width: 100%;
    height: 60px;
    @include vertical-center;
}

.run-border-not {
    border: 3px $red-light solid;
    background-color: $red;
    color: $light;
    width: 100%;
    height: 60px;
    @include vertical-center;
}

.miles-text {
    font-size: 1.5rem;
    margin: 0 2vw;
}

.center-run-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.switch-spacer {
    margin: 0 2vw;
    @include vertical-center;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    margin-bottom: 1vh;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $light;
    -webkit-transition: .2s;
    transition: .2s;

}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: $dark;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked + .slider {
    background-color: $light;
}

input:focus + .slider {
    box-shadow: 0 0 1px $light;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.progress-wrapper {
    margin: 2vh 5vw;
}

.runs-bar {
    width: 100%;
    height: 80px;
    border: 3px solid $red-light;
}

.bar-done {
    width: 100%;
    height: 80px;
    border: 3px solid $green;
}

.runs-progress {
    height: 80px;
    background-color: $red;
    transition: .2s;
    @include vertical-center;
}

.miles-bar {
    width: 100%;
    height: 80px;
    border: 3px solid $red-light;
}

.miles-progress {
    height: 80px;
    background-color: $red;
    transition: .2s;
    @include vertical-center;
}

.progress-done {
    height: 80px;
    background-color: $dkgreen;
    transition: .2s;
    @include vertical-center;
}

.progress-text {
    color: white;
    font-size: 1rem;
    margin-left: 3vw;
}

.no-show {
    display: none;
}

/////////////////////////////////////////////////////////////////
//////////// GRID
//////////////////////////////////////////////////////////////////@extend

.grid-square {
    color: $red-light;
}

#week-1-1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    // background-color: $red-light;
} 
#week-1-2{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: $red-light;
} 
#week-1-3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: $red-light;
} 
#week-1-4{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: $red-light;
} 

#week-2-1{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: $red-light;
} 
#week-2-2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: $red-light;
} 
#week-2-3{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: $red-light;
} 
#week-2-4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: $red-light;
} 

#week-3-1{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: $red-light;
} 
#week-3-2{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: $red-light;
} 

#week-3-3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: $red-light;
} 

#week-3-4{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: $red-light;
} 

#week-4-1{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: $red-light;
} 
#week-4-2{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: $red-light;
} 

#week-4-3{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: $red-light;
} 

#week-4-4{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: $red-light;
} 

#week-5-1{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: $red-light;
} 
#week-5-2{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: $red-light;
} 

#week-5-3{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: $red-light;
} 

#week-5-4{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: $red-light;
} 

#week-6-1{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: $red-light;
} 
#week-6-2{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: $red-light;
} 

#week-6-3{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: $red-light;
} 

#week-6-4{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: $red-light;
} 

#week-6-1{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: $red-light;
} 
#week-6-2{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: $red-light;
} 

#week-6-3{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: $red-light;
} 

#week-6-4{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: $red-light;
} 

#week-7-1{
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: $red-light;
} 
#week-7-2{
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: $red-light;
} 

#week-7-3{
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: $red-light;
} 

#week-7-4{
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: $red-light;
} 

#week-8-1{
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: $red-light;
} 
#week-8-2{
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: $red-light;
} 

#week-8-3{
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: $red-light;
} 

#week-8-4{
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: $red-light;
} 

#week-9-1{
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: $red-light;
} 
#week-9-2{
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: $red-light;
} 

#week-9-3{
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: $red-light;
} 

#week-9-4{
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: $red-light;
} 

#week-10-1{
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: $red-light;
} 
#week-10-2{
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: $red-light;
} 

#week-10-3{
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: $red-light;
} 

#week-10-4{
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: $red-light;
} 

#week-11-1{
    grid-column-start: 11;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: $red-light;
} 
#week-11-2{
    grid-column-start: 11;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: $red-light;
} 

#week-11-3{
    grid-column-start: 11;
    grid-column-end: 12;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: $red-light;
} 

#week-11-4{
    grid-column-start: 11;
    grid-column-end: 12;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: $red-light;
} 

#week-12-1{
    grid-column-start: 12;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: $red-light;
} 
#week-12-2{
    grid-column-start: 12;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: $red-light;
} 

#week-12-3{
    grid-column-start: 12;
    grid-column-end: 13;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: $red-light;
} 

#week-12-4{
    grid-column-start: 12;
    grid-column-end: 13;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: $red-light;
} 

.grid-container {
    @include horizontal-center;
}

.row1 {
    display: grid;
    grid-template-rows: 40px 40px 40px 40px;
    grid-row-gap: 5px;
    grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
    grid-column-gap: 5px;   
}

////////////////////////////////////////////////////////////////
//////////   Input
///////////////////////////////////////////////////////////////////@extend

.login-group {
    @include horizontal-center;
    width: 90wv;
}

.center-inputs {
    @include vertical-center;
    width: 90%;
}

.input-label {
    width: 100%;
    margin: 1vh 0;
    font-size: 1.4rem;
}

.login-input {
    width: 100%;
    border: none;
    font-size: 1rem;
    border-bottom: 1px solid $dark;
    background-color: $light;
    cursor: text;
}

.login-submit {
    // width: 100%;
    height: 10vh;
    border: none;
    background-color: $dark;
    color: $light;
    font-size: 2rem;
}

.login-submit:hover {
    border: 3px solid $dark;
    background-color: $light;
    color: $dark;
    cursor: pointer;
}

.login-error {
    font-size: 1rem;
    color: $red;
}