$light: #F4F6F6;
$red-light: #FF9C91;
$red: #CD3F3E;
$dark: #1C2938;


$tiny: 380px;
$wrap-break: 768px;

@mixin mobile {
    @media (max-width: $wrap-break) {
        @content;
    }
}

@mixin tiny {
    @media (max-width: $tiny) {
        @content;
    }
}

body {
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: $light;
    font-family: Arial, Helvetica, sans-serif;
}

@mixin horizontal-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@mixin vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.centered-horizontal {
    @include horizontal-center;
}

.centered-vertical {
    @include vertical-center;
}

/////////////////////////////////////////////////////////////
//////      Header
/////////////////////////////////////////////////////////////

.header-container {
    @include horizontal-center;
    background-color: $dark;
    color: $light;
}

.header-item {
    margin: 1vh 2vw;
    font-size: 1rem;
    text-decoration: none;
    color: $red-light;
}

.header-item:hover {
    color: $red;
}

/////////////////////////////////////////////////////////////
//////      Main
/////////////////////////////////////////////////////////////

.current-time {
    font-size: 1.5rem;
    color: $dark;
}